<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added on</th>
            <th>Status</th>
            <th>Actions</th>

        </tr>
        {% for task in tasks %}
            <tr>
                {%if task.status == True%}
                <td><del>{{ task.content }}</del></td>
                {% else %}
                <td>{{ task.content }}</td>
                {% endif %}
                <td>{{ task.created_on.date() }}</td>
                <td>
                    {% if task.status == false %}
                    <a href="/done/{{task.id}}">Done</a>
                    {% else %}
                    <a href="/undo/{{task.id}}">Undone</a>
                    {% endif %}
                </td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
</body>
</html>
